<li class="active"><%= link_to 'Home', root_path %></li>
<li><%= link_to "ニュース", "#" %></li>
<li><%= link_to "ブログ", "#" %></li>
<li><%= link_to "メンバー", :members %></li>
<li><%= link_to "管理ページ", "#" %></li>
